<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: navbar}"></div>
<div class="container mt-4">
    <h1>Customer Detail</h1>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10" th:text="${customer.id}"></dd>
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10" th:text="${customer.customerName}"></dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10" th:text="${customer.customerEmail}"></dd>
        <dt class="col-sm-2">Total Spending</dt>
        <dd class="col-sm-10" th:text="${totalSpending}"></dd>
    </dl>
    <a th:href="@{/customers}" class="btn btn-secondary">Back to list</a>
    <a th:href="@{|/customers/${customer.id}/edit|}" class="btn btn-warning">Edit</a>
</div>
<div th:replace="~{base :: scripts}"></div>
</body>
</html>
